<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Nursery Rhymes{% endblock %}</title>
    <link rel="stylesheet" href="{{base_path}}/css/normalize.css">
    <link rel="stylesheet" href="{{base_path}}/css/main.css">
</head>
<body>
<div class="wrapper">
  <nav>
    <ul>
      {% macro navitem(name, path) -%}
        <li{% if path == url %} class="active"{% endif %}><a href="{{ base_path }}{{ path }}">{{ name }}</a></li>
      {%- endmacro %}
      {{ navitem("Home", "/") }}
      {{ navitem("Categories", "/categories/") }} 
      {{ navitem("Songs", "/songs/") }}
      {{ navitem("By Category", "/bycategory/") }}
      {{ navitem("First Lines", "/firstlines/") }}
      {{ navitem("About", "/about/") }}
    </ul>
  </nav>
  {% block content %}{% endblock %}
</div>
</body>
<html>

