{% extends "common.html" %}
{% block title %}{{ super() }}—Alphabetical{% endblock %}
{% block content %}
  <header>
    <h1>All Nursery Rhymes</h1>
  </header>
  {% for song in songbook.songs %}
    <article class="song">
      <h2><a name="{{song.slug}}">{{song.tags["title"]}}</a></h2>
      <dl class="metadata">
        {% if song.tags["see"] %}
          <dt>See also</dt>
          <dd>{{ song.tags["see"] | join(", ") }}</dd>
        {% endif %}
        {% if song.tags["tags"] %}
          <dt>Categories</dt>
          <dd>{{ song.tags["tags"] | join(", ") }}</dd>
        {% endif %}
        {% if song.tags["aka"] %}
          <dt>Also known as</dt>
          <dd>{{ song.tags["aka"] | join(", ") }}</dd>
        {% endif %}
        {% if song.tags["tune"] %}
          <dt>To the tune of</dt> <dd>{{song.tags["tune"]}}</dd>
        {% endif %}
        {% if song.tags["source"] %}
          <dt>Source</dt> <dd>{{song.tags["source"]}}</dd>
        {% endif %}
        {% if song.tags["copyright"] %}
          <dt>Copyright</dt> <dd>{{song.tags["copyright"]}}</dd>
        {% endif %}
      </dl>
      <div class="lyrics">
        {{song.lyrics}}
      </div> <!-- lyrics -->
    </article>
  {% endfor %}
{% endblock content %}
