{% extends "common.html" %}
{% block content %}
  <h1>Songs!</h1>
  {% for song in songbook.songs %}
    <h2><a name="{{song.slug}}">{{song.tags["title"]}}</a></h2>
    {% if song.tags["see"] %}
    <h3>See Also:</h3>
    <ul>{% for s in song.tags["see"] %}<li>{{s}}</li>{% endfor %}</ul>
    {% endif %}
    {% if song.tags["tags"] %}
    <h3>Categories:</h3>
    <ul>{% for t in song.tags["tags"] %}<li>{{t}}</li>{% endfor %}</ul>
    {% endif %}
    {% if song.tags["aka"] %}
    <h3>Also known as:</h3>
    <ul>{% for a in song.tags["aka"] %}<li>{{a}}</li>{% endfor %}</ul>
    {% endif %}
    {% if song.tags["tune"] %}<h3>To the tune of:</h3> <p>{{song.tags["tune"]}}</p>{% endif %}
    {% if song.tags["source"] %}<h3>Source:</h3> <p>{{song.tags["source"]}}</p>{% endif %}
    {% if song.tags["copyright"] %}<h3>Copyright:</h3> <p>{{song.tags["copyright"]}}</p>{% endif %}
    {{song.lyrics}}
  {% endfor %}

{% endblock %}
