<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  {{> common-head}}
  <title>Songs</title>
</head>
<body>
  <h1>Songs!</h1>
  {{#songs}}
  <h2><a name="{{slug}}">{{tags.title}}</a></h2>
  {{#has_tag_see}}
  <h3>See Also:</h3>
  <ul>{{#tags.see}}<li>{{.}}</li>{{/tags.see}}</ul>
  {{/has_tag_see}}
  {{#has_tag_tags}}
  <h3>Categories:</h3>
  <ul>{{#tags.tags}}<li>{{.}}</li>{{/tags.tags}}</ul>
  {{/has_tag_tags}}
  {{#has_tag_aka}}
  <h3>Also known as:</h3>
  <ul>{{#tags.aka}}<li>{{.}}</li>{{/tags.aka}}</ul>
  {{/has_tag_aka}}
  {{#tags.tune}}<h3>To the tune of:</h3> <p>{{.}}</p>{{/tags.tune}}
  {{#tags.source}}<h3>Source:</h3> <p>{{.}}</p>{{/tags.source}}
  {{#tags.copyright}}<h3>Copyright:</h3> <p>{{.}}</p>{{/tags.copyright}}
  {{& lyrics}}
  {{/songs}}
</body>
<html>
